@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
}

.logo {
    width: 200px;
}

.container {
    display: flex;
    justify-content: center;
}

.h1 {
    color: rgb(211, 1, 1);
    display: flex;
    justify-content: center;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(37, 37, 37);
}

.card-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

/*--comeco--primeira--marca--*/
.flex {
    width: 500px;
    height: 360px;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(109, 109, 109));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        flex-wrap: wrap;



}

.carro1-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carro1 {
    width: 300px;
    border-radius: 10px;
    margin: 10px;



}
.car1 {
    color: #fff;
    font-size: 30px;
        font-weight: 400;
        font-family: 'Bebas Neue', 'cursive';
}

/*--fim---primeiro---marca--*/

/*--comeco---segundo---marca--*/

.flex2 {
    width: 500px;
    height: 360px;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(109, 109, 109));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.Carro2-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carro2 {
    width: 250px;
    border-radius: 10px;
    margin: 10px;



}
.car2{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
     font-family: 'Bebas Neue', 'cursive';




}

/*--fim---do---segundo---marca--*/

/*--comeco---terceiro---marca--*/
.flex3 {
    width: 500px;
    height: 360px;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(109, 109, 109));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.Carro3-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carro3 {
    width: 300px;
    border-radius: 10px;
    margin: 10px;



}

.car3 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Bebas Neue', 'cursive';



}

/*--fim---terceiro---marca--*/

/*--comeco---quarto---marca--*/

.flex4 {
    width: 500px;
    height: 360px;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(109, 109, 109));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        flex-wrap: wrap;


}

.Carro4-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carro4 {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    

}
.car4 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Bebas Neue', 'cursive';
}

/*--fim---quarto---marca--*/

/*--comeco---quinto---carro--*/

.flex5 {
    width: 500px;
    height: 360px;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(109, 109, 109));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        flex-wrap: wrap;



}

.Carro5-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carro5 {
    width: 250px;
    border-radius: 10px;
    margin: 10px;



}
.car5 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Bebas Neue', 'cursive';
}

/*--fim---quinta---marca--*/

@media screen and (max-width: 500px) {

  .logo {
    width: 120px;
  }
    h1{
        font-size: 30px;
    }
    .flex{
        width: 250px;

    }
    .flex2{
        width: 250px;
    }
    .flex3{
        width: 250px;
    }
    .flex4{
        width: 250px;
    }
    .flex5{
        width: 250px;
    }
 .card-flex {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }
 .carro1{
    width: 200px;
    
 }
 .car1{
    font-size: 30px;
 }
 .carro2 {
     width: 200px;

 }

 .car2 {
     font-size: 30px;
 }
 .carro3 {
     width: 200px;

 }

 .car3 {
     font-size: 30px;
 }
 .carro4 {
     width: 200px;

 }

 .car4 {
     font-size: 30px;
 }
 .carro5 {
     width: 200px;

 }

 .car5 {
     font-size: 30px;
 }



}